@import url('https://fonts.googleapis.com/css?family=Montserrat');
#welcome p {
    font-size: 80px;
    font-family: "Montserrat";
    color: #F76280;
    text-align: center;
    line-height: 900px;
    
}

.navbar {
    display: inline-block;
    float: right;
    padding: 0.4vh;
    background-color: #6C5B7B;
    height: 6.8vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
}

.navbar .nav-login{
    float: right;
    display: inline-block;
    padding-right: 3vh;
}

.nav-login-input{
    float: left;
    padding:  2.1vh 1vh;
    
}

.nav-login-input input{
    height: 2.5vh;
    width: 18vh;
}

.nav-login-btn{
    float: right;
    display: inline-block;
}

.nav-login-btn button{
    margin: 1vh;
    
    height: 5vh;
    width: 12vh;
    
    font-size: 2.5vh;
}


/*
.navbar form{
    float: right;
    display: inline-block;
    padding-right: 30px;
    padding-top: 10px;
    
}
*/

#logo{
    display: block;
    position: absolute;
    left: 25%;
    top: 15%;
}


.button{
    border-radius: 15px;
    border: 2px solid #F67280;
    background: none;
    color: #F67280;
    font-size: 25px;
    cursor: pointer;
}

.button:hover{
    border-radius: 15px;
    border: 2px solid #C03C84;
    background: none;
    font-size: 25px;
    color: #C03C84;
    transition-duration: 0.3s;
}

body{
    overflow: hidden;
    background-image: url(../Images/BG3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    
    margin: 0;
}
