@import url('https://fonts.googleapis.com/css?family=Montserrat');

#welcome p {
    font-size: 10vh;
    font-family: "Montserrat";
    color: #F76280;
    text-align: center;
    line-height: 150vh;
    
}

#login {
    border: 1vh solid white;
    border-radius: 5vh;
    background-color: rgba(108, 91, 123, 0.6);
    opacity: 1;
    width: 30%;
    height: 50%;
    left: 35%;
    top: 15%;
    position: absolute;
    text-align: center;
    padding-top: 15%;
}

#login input{
    width: 20vh;
    font-size: 3vh;
}

#home {
    width: 5vh;
    cursor: pointer;
}

#logo{
    display: block;
    position: absolute;
    left: 25%;
    top: 15%;
}

#signup {
    align-content: center;
}

.navbar {
    display: inline-block;
    float: right;
    padding-right: 15vh;
    padding-top: 10vh;
    background-color: #F8B195;
    padding-bottom: 7vh;
    height: 60vh;
    padding: 0.4vh;
    height: 6.8vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
}

.navbar .nav-login{
    float: right;
    display: inline-block;
    padding-right: 3vh;
}

.nav-login-input{
    float: left;
    padding:  2.1vh 1vh;
    
}

.nav-login-input input{
    height: 2.5vh;
    width: 18vh;
}

.nav-login-btn{
    float: right;
    display: inline-block;
}

.nav-login-btn button{
    margin: 1vh;
    
    height: 5vh;
    width: 12vh;
    
    font-size: 2.5vh;
}


/*
.navbar form{
    float: right;
    display: inline-block;
    padding-right: 30px;
    padding-top: 10px;
    
}
*/

<<<<<<< HEAD
#logo{
    display: block;
    position: absolute;
    left: 55vh;
    top: 15vh;
}


=======
>>>>>>> 1cc36891db201fd02807909e12e8b5601e02bce8
.button{
    border-radius: 3vh;
    border: 0.5vh solid #FFFFFF;
    background: none;
<<<<<<< HEAD
    color: #FFFFFF;
    font-size: 2vh;
=======
    color: white;
    font-size: 25px;
>>>>>>> 1cc36891db201fd02807909e12e8b5601e02bce8
    cursor: pointer;
}

.button:hover{
    border-radius: 3vh;
    border: 0.5vh solid #C03C84;
    background: none;
    font-size: 3vh;
    color: #C03C84;
    transition-duration: 0.3s;
}

body{
    overflow: hidden;
    background-image: url(../Images/BG3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    
    margin: 0;
}
