@import url('https://fonts.googleapis.com/css?family=Montserrat');
.container {
    height: 100%;
}
.navigation-bar {
    background-color: RGBA(248,177,149,0.4);
    padding: 2vh;
    display: inline-block;
    padding-top: 2vh;
    width: 100%;
}

.navigation-bar input {
    float: right;
    margin-right: 2vh;
}

.navbar-brand{
    color: white;
    padding-left: 3vh;
}

.button {
    border: 2px solid white;
    border-radius: 4vh;
    background-color: transparent;
    color: white;
    transition: transform 0.3s;
}

.button:hover {
    transform: scale(1.1);
}

.button:focus {
    outline: 0;
}

.button2 {
    border: 2px solid rgba(248, 177, 149);
    border-radius: 4vh;
    background-color: transparent;
    color: rgba(248, 177, 149);
    transition: transform 0.3s;
    font-size: 20px;
}

.button2:hover {
    transform: scale(1.1);
}

.button2:focus {
    outline: 0;
}

#container{
    position: absolute;
    display: table;
    height: 100%;
    width: 100%;
}

#content {
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    text-align: center;   
}

#content img {
    display: block;
    margin: auto;
    width: 350px;
    height: 50%;
    padding-right: 5vh;
}

#content input {
    width: 35vh;
    padding-left: 1vh;
}

#login {
    margin: auto;
    width: 30%;
    padding: 10vh;
    background-color: rgba(0, 0, 0, 0.7);
}

#signup {
    margin: auto;
    width: 25%;
    padding: 10vh;
    background-color: rgba(0, 0, 0, 0.7);
}

#signup input {
    border-radius: 3vh;
    margin-bottom: 3vh;
    padding-left: 2vh;
    font-size: 4vh;
}

#signup input:focus {
    outline: 0;
}

.main-page-content p {
    color: #F8B195;
    font-size: 12vh;
    font-family: "Montserrat";
    text-align: center;   
}

.main-page-content img {
    display: block;
    margin: auto;
}

body {
    background-attachment: fixed;
/*    background-image: url(../Images/BG3.jpg);*/
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
}

#icon{
    height: 7vh;
}



/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
	.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 320px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	
	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}

/*Left*/
	.modal.left.fade .modal-dialog{
		left: -320px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}
	
	.modal.left.fade.in .modal-dialog{
		left: 0;
	}
        
/*Right*/
	.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
		border-bottom-color: #EEEEEE;
		background-color: #FAFAFA;
	}

/* About page css*/

.about-container {
    width: 100%;
    border-radius: 20px;
    background-color: #F8B195;
    text-align: center;
    margin: 20px 20px 20px 20px;
}

.about-content {
    text-align: center;
}

.member-container {
    margin: 20px;
    width: 100%;
    border-radius: 10px;
    background-color: #f4c2af;
}

.member-desc {
    border-radius: 10px;
    border: 2px solid white;
    text-shadow: 2px 2px #393737;
    color: white;
    width: 100%;
    background-color: #f5c8b6;
    padding: 10px;
}

.mem-photo {
    margin: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
}
